* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background: rgb(219, 209, 209);
  padding: 0 15px;
}

header {
  background-color: rgb(51, 140, 255);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.599);
}

header h1 {
  color: white;
  font-weight: 250;
  font-size: 2.5em;
}

footer {
  clear: both;
  position: relative;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

footer p {
  color: rgb(118, 118, 118);
}

form {
  position: relative;
  width: 350px;
  margin: 30px auto 20px auto;
  background: rgb(235, 235, 235);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.599);
  padding: 10px;
}

.inputTitle {
  font-weight: bold;
}

input,
textarea {
  width: 100;
  border: none;
  outline: none;
  background: rgb(235, 235, 235);
  padding: 5px;
  font-size: 1.5em;
  font-family: inherit;
  resize: none;
}

.note {
  background: rgb(235, 235, 235);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.599);
  padding: 10px;
  width: 250px;
  margin: 15px;
  float: left;
}

.note h1 {
  font-size: 1em;
  margin-bottom: 5px;
}

.note p {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button {
  font-size: 1.1em;
  border: none;
  float: right;
  margin-right: 20px;
  background: rgb(181, 211, 255);
  padding: 5px 5px 5px 5px;
  border-radius: 8px;
}

.deleteButton {
  background: rgb(181, 211, 255);
  margin-right: 0px;
  line-height: 0.5em;
}

button:hover {
  background: rgb(180, 179, 179);
}
